<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>you</key>
	<string>https://images.freeimages.com/images/large-previews/815/xmas-bunny-1313404.jpg</string>
	<key>my</key>
	<string>https://images.freeimages.com/images/large-previews/c06/eagle-owl-1548984.jpg</string>
	<key>new</key>
	<string>https://images.freeimages.com/images/large-previews/249/stork-hunting-1246427.jpg</string>
	<key>bird</key>
	<string>https://images.freeimages.com/images/large-previews/934/baby-owl-1330847.jpg</string>
	<key>GreenTea Leaf</key>
	<string>https://images.freeimages.com/images/large-previews/afa/black-jaguar-1402097.jpg</string>
	<key>Maya</key>
	<string>https://images.freeimages.com/images/large-previews/815/xmas-bunny-1313404.jpg</string>
	<key>Cliff</key>
	<string>https://images.freeimages.com/images/large-previews/25d/eagle-1523807.jpg</string>
	<key>Coliseu de Roma</key>
	<string>https://images.freeimages.com/images/large-previews/c06/eagle-owl-1548984.jpg</string>
	<key>Winter</key>
	<string>https://images.freeimages.com/images/large-previews/249/stork-hunting-1246427.jpg</string>
</dict>
</plist>
